In [13]:
import numpy as np
import pandas as pd
from numpy import random as r

In [22]:
df=pd.read_excel("Desktop/regitretions.xlsx")

   Quarter  Australia     UK  United States
0  FY19'Q1        245   3766           6469
1  FY19'Q2        846   3595           5218
2  FY19'Q3        806   5425           5289
3  FY19'Q4        833   4887           4993
4  FY20'Q1       1617   5440           7251
5  FY20'Q2       1828  10034          11427

In [15]:
arr=np.array(df["Australia"])

In [34]:
    for i in df.index:
        if arr[i]>1806:
            {print(i)}

5

In [42]:
arr[5]=1800

In [43]:
df["Australia"]=arr

In [55]:
df["Australia"].count()

6

In [45]:
df

   Quarter  Australia     UK  United States
0  FY19'Q1        245   3766           6469
1  FY19'Q2        846   3595           5218
2  FY19'Q3        800   5425           5289
3  FY19'Q4        833   4887           4993
4  FY20'Q1       1617   5440           7251
5  FY20'Q2       1800  10034          11427

In [33]:
arr.reshape(3,2,)

array([[ 245,  846],
       [ 800,  833],
       [1617, 1828]], dtype=int64)

In [52]:
arr1=np.random.randint(100,size=(5))

In [54]:
arr1.sum()

352

In [60]:
df.index

RangeIndex(start=0, stop=6, step=1)